.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h5{
    color: rgb(190, 190, 252);
    font-size:5vw ;
}
.footer{
    margin: 20px;
    padding: 5px;
}